asgiref
certifi
cffi
chardet
click
cryptography
defusedxml
dj-database-url==2.0.0
Django==3.2.5
django-allauth
django-ckeditor
django-clearcache
django-js-asset
django-multiselectfield
gunicorn
idna
oauthlib
Pillow
psycopg2-binary
pycparser
PyJWT
python-decouple
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
urllib3
whitenoise
