{% extends "base.html" %}

{% block title %} | Dashboard {% endblock %}

{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Tableau de bord</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Accueil</a></li>
                <li class="active">{{ user.first_name }}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!--   Dashboard Start   -->
<div class="container mt-50 mb-50">
	{% include 'includes/messages.html' %}
	<div class="main-title" style="text-align:left !important;">
            <h1>Bienvenu <span>{{ user.first_name }}</span></h1>
            <p>Voici les recettes que vous avez choisies</p>
        </div>
	<table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">Image</th>
		  <th scope="col">Noms</th>
		  <th scope="col">Description</th>
		  <th scope="col">Prix le moins cher</th>
		  <th scope="col">Action</th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
		  <th scope="row">.png</th>
		  <td>Raclette</td>
		  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		  tempor.</td>
		  <td>13,50€</td>
		  <td><a href="#" class="btn btn-outline-dark">Supprimer</a></td>
		</tr>
		<tr>
		  <th scope="row">.png</th>
		  <td>Soupion</td>
		  <td>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</td>
		  <td>19,50€</td>
		  <td><a href="#" class="btn btn-outline-dark">Supprimer</a></td>
		</tr>
		<tr>
		  <th scope="row">.png</th>
		  <td>Boeuf bleu</td>
		  <td>Duis aute irure dolor in reprehenderit in voluptate velit.</td>
		  <td>15,20</td>
		  <td><a href="#" class="btn btn-outline-dark">Supprimer</a></td>
		</tr>
	  </tbody>
	</table>
</div>
<!--   Dashboard End   -->

{% endblock %}