{% extends "base.html" %}

{% block title %} | Dashboard {% endblock %}

{% block content %}

{% load static %}

<style>

	footer {
		position: absolute;
		width: 100%;
		bottom: 0;
	}
</style>
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Mes recettes</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Accueil</a></li>
                <li class="active">{{ user.first_name }}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!--   Dashboard Start   -->
<div class="container mt-50 mb-50">
	{% include 'includes/messages.html' %}
	<div class="main-title" style="text-align:left !important;">
		<h1>Bienvenue <span>{{ user.first_name }}</span></h1>
		<p>Voici les recettes que vous avez ajoutées</p>
    </div>

    {% if inquiries %}
    <table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">Image</th>
		  <th scope="col">Recettes</th>
		  <th scope="col">Prix</th>
		  <th scope="col">Action</th>
		</tr>
	  </thead>
	  <tbody>
	  	{% for inquiry in inquiries %}
		<tr>
		  <th scope="row"><img src="{{ inquiry.recipe_photo }}" style="width:40px; height: 40px; border-radius: 50px;"></th>
		  <td>{{ inquiry.recipe_name }}</td>
		  <td>3 € <small>90</small></td>
		  <td><a href="{% url 'recipe_details' inquiry.recipe_id %}" class="btn btn-outline-dark"><i class="fa fa-minus"></i></a></td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>	
    {% else %}
	<h3>Oups... Il n'y a rien ici !</h3>
	<p>Commencez par ajouter quelques recettes.</p>
    {% endif %}
	
</div>
<!--   Dashboard End   -->

{% endblock %}