{% extends "base.html" %}

{% block title %} | Accueil {% endblock %}

{% block content %}

{% include "includes/banner.html" with sliderdata=slider %}

{% load static %}	

<!-- Featured car start -->
<div class="featured-car content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Recettes <span>à l'aune</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for  recipe in recipe_feature %}
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <a href="{% url 'recipe_details' recipe.id %}" class="car-img">
                                <div class="tag-2">A l'aune</div>
                                <div class="price-box">
                                    <span> <i class="flaticon-cooking-time"></i> {{ recipe.cooking_time }}  </span>
                                </div>
                                <img class="d-block w-100" src="{{ recipe.recipe_photo.url }}" alt="recette" style="min-height: 262px; max-height: 262px;">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="{{ recipe.recipe_photo_1.url }}" class="overlap-btn">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="{{ recipe.recipe_photo_1.url }}">
                                            </a>
                                            <a href="{{ recipe.recipe_photo_2.url }}" class="hidden">
                                                <img class="hidden" src="{{ recipe.recipe_photo_2.url }}">
                                            </a>
                                            <a href="{{ recipe.recipe_photo_3.url }}" class="hidden">
                                                <img class="hidden" src="{{ recipe.recipe_photo_3.url }}">
                                            </a>
                                            <a href="{{ recipe.recipe_photo_4.url }}" class="hidden">
                                                <img class="hidden" src="{{ recipe.recipe_photo_4.url }}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="{% url 'recipe_details' recipe.id %}">{{ recipe.name }}</a>
                            </h1>
                            <div class="location">
                                <a href="{% url 'recipe_details' recipe.id %}">
                                    <i class="flaticon-pin"></i> {{ recipe.origine }}
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>{{ recipe.kcal }} kcal</li>
                                <li>{{ recipe.proteins }} g protéines</li>
                                <li>{{ recipe.lipids }} g lipides</li>
                                <li>{{ recipe.glucids }} g glucides</li>
                            </ul>
                        </div>
                    </div>
                </div> 
                {% endfor %}
            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

<!-- Rent car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Dernière <span>Recettes</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            {% for recipe in all_recipe %}
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="{% url 'recipe_details' recipe.id %}" class="car-img">
                            <div class="tag">Miam!</div>
                            <img class="d-block w-100" src="{{ recipe.recipe_photo.url }}" alt="car" style="min-height: 262px; max-height: 262px;">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-prepare"></i></span>{{ recipe.preparation }}
                                    </li>
                                    <li>
                                        <span><i class="flaticon-cooking"></i></span>{{ recipe.cooking_time }}
                                    </li>
                                    <li>
                                        <span><i class="flaticon-restaurant"></i></span>{{ recipe.portion }}
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{ recipe.recipe_photo.url }}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{ recipe.recipe_photo.url }}">
                                        </a>
                                        <a href="{{ recipe.recipe_photo_1.url }}" class="hidden">
                                            <img class="hidden" src="{{ recipe.recipe_photo_1.url }}">
                                        </a>
                                        <a href="{{ recipe.recipe_photo_2.url }}" class="hidden">
                                            <img class="hidden" src="{{ recipe.recipe_photo_2.url }}">
                                        </a>
                                        <a href="{{ recipe.recipe_photo_3.url }}" class="hidden">
                                            <img class="hidden" src="{{ recipe.recipe_photo_3.url }}">
                                        </a>
                                        <a href="{{ recipe.recipe_photo_4.url }}" class="hidden">
                                            <img class="hidden" src="{{ recipe.recipe_photo_4.url }}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'recipe_details' recipe.id %}">{{ recipe.name }}</a>
                        </h1>
                        <div class="location">
                            <a href="{% url 'recipe_details' recipe.id %}">
                                <i class="flaticon-pin"></i>{{ recipe.origine }}
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype"><i class="flaticon-hourglass"></i> {{ recipe.level }}</p>
                        </div>
                        <div class="pull-right">
                            <p class="price"><i class="flaticon-calorie"></i>{{ recipe.kcal }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Rent car end -->

<!-- Our team start -->
<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Executive <span>Team</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                
                {% for row in teams %}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="{{ row.photo.url }}" alt="team-1" class="img-fluid">
                            </a>
                            <div class="social-list clearfix">
                                <a href="{{ row.facebook_link }}" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="{{ row.twitter_link }}" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="{{ row.linkedin_link }}" class="linkedin-bg"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="team-detail.html">{{ row.first_name }} {{ row.last_name }}</a></h4>
                            <h5>{{ row.job_title }}</h5>
                        </div>
                    </div>
                </div>
              {% endfor %}

            </div>
        </div>
    </div>
</div>
<!-- Our team end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Vous avez des questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="contact.html" class="btn btn-md">Contactez-nous</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->

<!-- Car Overview Modal -->
<div class="car-model-2">
    <div class="modal fade" id="carOverviewModal" tabindex="-1" role="dialog" aria-labelledby="carOverviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="carOverviewModalLabel">
                        <h4>Explore Your Dream Car</h4>
                        <h5><i class="flaticon-pin"></i> 123 Kathal St. Tampa City,</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row modal-raw">
                        <div class="col-lg-6 modal-left">
                            <div class="item active">
                                <img src="{% static "img/car-13.jpg" %}" alt="best-car" class="img-fluid modalLabel-1">
                                <img src="{% static "img/car-14.jpg" %}" alt="best-car" class="img-fluid modalLabel-2">
                                <div class="sobuz">
                                    <div class="price-box" style="padding-bottom: 5px;">
                                        <span class="del-2">$1050.00</span>
                                    </div>
                                    <div class="">
                                        <a href="car-details.html" class="btn btn-md btn-round btn-theme">Convertible</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 modal-right">
                            <div class="modal-right-content">
                                <section>
                                    <h3>Features</h3>
                                    <div class="features">
                                        <ul class="bullets">
                                            <li>Cruise Control</li>
                                            <li>Airbags</li>
                                            <li>Air Conditioning</li>
                                            <li>Alarm System</li>
                                            <li>Audio Interface</li>
                                            <li>CDR Audio</li>
                                            <li>Seat Heating</li>
                                            <li>ParkAssist</li>
                                        </ul>
                                    </div>
                                </section>
                                <section>
                                    <h3>Overview</h3>
                                    <ul class="bullets">
                                        <li>Model</li>
                                        <li>Year</li>
                                        <li>Condition</li>
                                        <li>Price</li>
                                        <li>Audi</li>
                                        <li>2020</li>
                                        <li>Brand New</li>
                                        <li>$178,000</li>
                                    </ul>
                                </section>
                                <div class="description">
                                    <h3>Description</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                                    <a href="car-details.html" class="btn btn-md btn-round btn-theme">Show Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}