{% load static %}
<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            {% for row in slider %}
            <div class="carousel-item banner-max-height {% if forloop.first %} active {% endif %} item-bg">
                <img class="d-block w-100 h-100" src="{{ row.image.url }}" style="filter: opacity(0.5) drop-shadow(0 0 0 black);" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>{{ row.titre }}</h3>
                    <h5>{{ row.description|safe }}</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme"><i class="fa fa-eye" aria-hidden="true"></i> plus</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Search box 3 start -->
        <div class="search-box-4 sb-8">
            <form action="{% url 'search' %}" method="">
                <div class="form-group">
                    <input type="text" name="keyword" placeholder="recherche par nom" class="form-control">
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="category">
                        <option selected="true" disabled="disabled">Catégorie</option>
                        {% for category in category_search %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="level">
                        <option selected="true" disabled="disabled">Difficulté</option>
                        {% for level in level_search %}
                        <option value="{{ level }}">{{ level }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="origine">
                        <option selected="true" disabled="disabled">Origine</option>
                        {% for origine in origine_search %}
                        <option value="{{ origine }}">{{ origine }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="cooking_time">
                        <option selected="true" disabled="disabled">Temps de cuisson</option>
                        {% for times in time_search %}
                        <option value="{{ times }}">{{ times }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="diet">
                        <option selected="true" disabled="disabled">Régime</option>
                        {% for diet in diet_search %}
                        <option value="{{ diet }}">{{ diet }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="range-slider clearfix">
                                <label>Calories</label>
                                <div data-min="0" data-max="2000"  data-min-name="min_kcal" data-max-name="max_kcal" data-unit="Kcal" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>
                <div class="form-group">
                    <button class="btn btn-block button-theme btn-md">
                        <i class="fa fa-search"></i> Rechercher
                    </button>
                </div>
            </form>
        </div>
        <!-- Search box 3 end -->
        <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 2 end -->