<!-- Footer start -->
<footer class="footer">
    
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <p class="copy">© {% now "Y" %} <a href="{% url "home" %}">Comégusto</a> Tous droits réservés. | <span class="text-end">dev release : 0.1 | {% now "m-Y" %}</span></p>
                </div>
                <div class="col-lg-4">
                    <div class="social-list-2">
                        <ul>
                            <li><a href="#" class="facebook-bg" target="blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="youtube-bg" target="blank"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#" class="twitter-bg" target="blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="linkedin-bg" target="blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->