{% load static %}
<!-- Top header start -->
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7">
                <div class="list-inline">
                    <a href="tel:{{ infos.numero }}"><i class="fa fa-phone"></i>{{ infos.numero }}</a>
                    <a href="mailto:{{ infos.email }}"><i class="fa fa-envelope"></i>{{ infos.email }}</a>
                    <a href="#"><i class="fa fa-clock-o"></i>{{ infos.horaire }}</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5">
                 <ul class="top-social-media pull-right">

                  {% if user.is_authenticated %}
                  <li>
                      <a href="{% url 'dashboard' %}" class="sign-in"><i class="fa fa-tachometer"></i> Tableau de bord</a>
                  </li>

                  <li>
                      <a href="javascript:{document.getElementById('logout').submit()}" class="sign-in"><i class="fa fa-sign-out"></i> Déconnexion</a>
                      <form action="{% url 'logout' %}" id="logout" method="POST">
                        {% csrf_token %}
                        <input type="hidden">
                      </form>
                  </li>
                  {% else %}
                    <li>
                        <a href="{% url 'login' %}" class="sign-in"><i class="fa fa-sign-in"></i> Connexion</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}" class="sign-in"><i class="fa fa-user"></i> Inscription</a>
                    </li>
                  {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->