{% extends "base.html" %}

{% block title %} | Recettes {% endblock %}

{% block content %}

{% load static %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Our Recipe Inventory</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li class="active">Recettes</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                
                <div class="row">
                    {% for recipe in recipes %}
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="{% url 'recipe_details' recipe.id %}" class="car-img">
                                    <div class="tag">Miam!</div>
                                    <div class="price-box">
                                        <span><i class="flaticon-calorie"></i>{{ recipe.kcal }}</span>
                                    </div>
                                    <img class="d-block w-100" src="{{ recipe.recipe_photo.url }}" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="{{ recipe.recipe_photo.url }}" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="{{ recipe.recipe_photo.url }}" style="min-height: 262px; max-height: 262px;">
                                                </a>
                                                <a href="{{ recipe.recipe_photo_1.url }}" class="hidden" >
                                                    <img class="hidden" src="{{ recipe.recipe_photo_1.url }}">
                                                </a>
                                                <a href="{{ recipe.recipe_photo_2.url }}" class="hidden">
                                                    <img class="hidden" src="{{ recipe.recipe_photo_2.url }}">
                                                </a>
                                                <a href="{{ recipe.recipe_photo_3.url }}" class="hidden">
                                                    <img class="hidden" src="{{ recipe.recipe_photo_3.url }}">
                                                </a>
                                                <a href="{{ recipe.recipe_photo_4.url }}" class="hidden" >
                                                    <img class="hidden" src="{{ recipe.recipe_photo_4.url }}">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="{% url 'recipe_details' recipe.id %}">{{ recipe.name }}</a>
                                </h1>
                                <div class="location">
                                    <a href="{% url 'recipe_details' recipe.id %}">
                                        <i class="flaticon-pin"></i>{{ recipe.origine }}
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>{{ recipe.kcal }} kcal</li>
                                    <li>{{ recipe.proteins }} g protéines</li>
                                    <li>{{ recipe.lipids }} g lipides</li>
                                    <li>{{ recipe.glucids }} g glucides</li>
                                </ul>
                            </div>
                        </div>
                    </div>   
                    {% endfor %}
                </div>
                <!-- Page navigation start -->
                <div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                      {% if recipes.has_other_pages %}
                        <ul class="pagination">
                          {% if recipes.has_previous %}
                              <li class="page-item">
                                  <a class="page-link" href="?page={{ recipes.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                              </li>
                          {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-left"></i></a>
                            </li>
                          {% endif %}

                          {% for i in recipes.paginator.page_range %}
                            {% if recipes.number == i %}
                              <li class="page-item"><a class="page-link active" href="#">{{ i }}</a></li>
                            {% else %}
                              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                          {% endfor %}

                          {% if recipes.has_next %}
                              <li class="page-item">
                                  <a class="page-link" href="?page={{ recipes.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                              </li>
                          {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-right"></i></a>
                            </li>
                          {% endif %}

                        </ul>
                      {% endif %}
                    </nav>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search2">
                        <h3 class="sidebar-title">Recherchez la recette désirée</h3>
                        <form action="{% url 'search' %}" method="">
                            <div class="form-group">
                                <input type="text" name="keyword" placeholder="rechercher par nom" class="form-control">
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="category">
                                    <option selected="true" disabled="disabled">Catégorie</option>
                                    {% for category in category_search %}
                                    <option value="{{ category }}">{{ category }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="level">
                                    <option selected="true" disabled="disabled">Difficulté</option>
                                    {% for level in level_search %}
                                    <option value="{{ level }}">{{ level }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="origine">
                                    <option selected="true" disabled="disabled">Origine</option>
                                    {% for origine in origine_search %}
                                    <option value="{{ origine }}">{{ origine }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="cooking_time">
                                    <option selected="true" disabled="disabled">Temps de cuisson</option>
                                    {% for times in time_search %}
                                    <option value="{{ times }}">{{ times }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="diet">
                                    <option selected="true" disabled="disabled">Régime</option>
                                    {% for diet in diet_search %}
                                    <option value="{{ diet }}">{{ diet }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="range-slider clearfix">
                                <label>Calories</label>
                                <div data-min="0" data-max="2000"  data-min-name="min_kcal" data-max-name="max_kcal" data-unit="Kcal" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group mb-0">
                                <button class="search-button btn">Rechercher</button>
                            </div>
                        </form>
                    </div>
                   
                    <!-- Question start -->
                    <div class="widget question widget-3">
                        <h5 class="sidebar-title">Nous suivre</h5>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

{% endblock %}	