{% extends "base.html" %}

{% block title %} | Détails {% endblock %}

{% block content %}

{% load static %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>{{ single_recipe.name }}</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li class="active">{{ single_recipe.name }}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Car details page start -->
<div class="car-details-page content-area-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="car-details-section">
                    <!-- Heading start -->
                    <div class="heading-car clearfix">
                        {% include "includes/messages.html" %}
                        <div class="pull-left">
                            <h3>{{ single_recipe.name }}</h3>
                            <h6>
                                <i class="flaticon-pin"></i>{{ single_recipe.origine }}
                            </h6>
                        </div>
                        <div class="pull-right">
                            <h3><span><i class="flaticon-calorie"></i>{{ single_recipe.kcal }}</span></h3>
                        </div>
                    </div>
                    <div id="carDetailsSlider" class="carousel car-details-sliders slide mb-40">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="{{ single_recipe.recipe_photo.url }}" class="img-fluid" alt="slider-car" style="width: 730px; height: 487px">
                            </div>
                            <div class="item carousel-item" data-slide-number="1">
                                <img src="{{ single_recipe.recipe_photo_1.url }}" class="img-fluid" alt="slider-car" style="width: 730px; height: 487px">
                            </div>
                            <div class="item carousel-item" data-slide-number="2">
                                <img src="{{ single_recipe.recipe_photo_2.url }}" class="img-fluid" alt="slider-car" style="width: 730px; height: 487px">
                            </div>
                            <div class="item carousel-item" data-slide-number="4">
                                <img src="{{ single_recipe.recipe_photo_3.url }}" class="img-fluid" alt="slider-car" style="width: 730px; height: 487px">
                            </div>
                            <div class="item carousel-item" data-slide-number="5">
                                <img src="{{ single_recipe.recipe_photo_4.url }}" class="img-fluid" alt="slider-car" style="width: 730px; height: 487px">
                            </div>
                        </div>
                        <!-- main slider carousel nav controls -->
                        <div class="carousel-indicators-section clearfix">
                            <ul class="carousel-indicators car-properties list-inline nav nav-justified">
                                <li class="list-inline-item active">
                                    <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#carDetailsSlider">
                                        <img src="{{ single_recipe.recipe_photo.url }}" class="img-fluid" alt="small-car" style="width: 146px; height: 97px">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-1" data-slide-to="1" data-target="#carDetailsSlider">
                                        <img src="{{ single_recipe.recipe_photo_1.url }}" class="img-fluid" alt="small-car" style="width: 146px; height: 97px">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-2" data-slide-to="2" data-target="#carDetailsSlider">
                                        <img src="{{ single_recipe.recipe_photo_2.url }}" class="img-fluid" alt="small-car" style="width: 146px; height: 97px">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-3" data-slide-to="3" data-target="#carDetailsSlider">
                                        <img src="{{ single_recipe.recipe_photo_3.url }}" class="img-fluid" alt="small-car" style="width: 146px; height: 97px">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-4" data-slide-to="4" data-target="#carDetailsSlider">
                                        <img src="{{ single_recipe.recipe_photo_4.url }}" class="img-fluid" alt="small-car" style="width: 146px; height: 97px">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- Tabbing box start -->
                    <div class="tabbing tabbing-box mb-40">
                        <ul class="nav nav-tabs" id="carTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="false">Aperçu de la recette</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">Ingrédients</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="carTabContent">
                            <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
                                <div class="car-description mb-50">
                                    <h3 class="heading-2">
                                        Etapes
                                    </h3>
                                    <p>{{ single_recipe.steps | safe }}</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                                <div class="features-info mb-50">
                                    <h3 class="heading-2">Ingrédients</h3>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <ul>
                                            	{% for i in single_recipe.ingredients.all %}
                                                <li>
                                                    <img class="" src="{{ i.image.url }}" alt="ingrédients" style="width:50px; height: 50px; border-radius: 50px;"> {{ i.name }}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                        
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search d-none-992">
                        <button class="btn btn-outline-danger bomd btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal"><span class="flaticon-add"></span> Dashboard</button>


                        <br>
                        <h3 class="sidebar-title">Informations nutritionnelles</h3>
                        <ul>
                            <li>
                                <span>Matières grasse:</span>12.0 g
                            </li>
                            <li>
                                <span>Protéines:</span>{{ single_recipe.proteins }}.0 g
                            </li>
                            <li>
                                <span>Lipides:</span>{{ single_recipe.lipids }}.0 g
                            </li>
                            <li>
                                <span>Acides gras saturés:</span>4.0 g
                            </li>
                            <li>
                                <span>Glucides:</span>{{ single_recipe.glucids }}.0 g
                            </li>
                            <li>
                                <span>Sucre:</span>1.0 g
                            </li>
                            <li>
                                <span>Sel:</span>0.0 g
                            </li>
                            <li>
                                <span>Fibres:</span>1.0 g
                            </li>
                            <li>
                                <span>Énergie:</span>175.0 Kcal
                            </li>
                            <li>
                                <span>Calories:</span>{{ single_recipe.kcal }} kcal
                            </li>
                            <li>
                                <span>Vitamine A:</span>10%
                            </li>
                            <li>
                                <span>Vitamine C:</span>8%
                            </li>
                            <li>
                                <span>Calcium:</span>20%
                            </li>
                            <li>
                                <span>Nutri-Score:</span>B
                            </li>
                            <li>
                                <span>Caregorie:</span>N/A
                            </li>
                            <li>
                                <span>Type:</span>N/A
                            </li>
                        </ul>
                    </div>

                    <!-- Inquiry Modal -->
                    <div class="modal fade" id="inquiryModal" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="contact-dealer modal-header">
                            <!-- <h5 class="modal-title" id="inquiryModalLabel">Contact Dealer</h5> -->
                            <center><img src="{% static "img/logos/logo-black-white.png" %}"></center>
                            <button type="button" class="close" data-dismiss="modal">
                              <span>&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="{% url 'inquiry' %}" method="POST">
                                {% csrf_token %}

                                {% if user.is_authenticated %}
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                {% else %}
                                <input type="hidden" name="user_id" value="0">
                                {% endif %}
                                <input type="hidden" name="recipe_id" value="{{ single_recipe.id }}">
                                <input type="hidden" name="recipe_photo" value="{{ single_recipe.recipe_photo.url }}">
                                <div class="form-group">
                                  <label for="name" class="col-form-label">Ajouter à votre tableau de bord ?</label>
                                  <div class="row">
                                    <div class="col">
                                      <input type="text" name="first_name" class="form-control" placeholder="First Name" {% if user.is_authenticated %} value="{{user.first_name}}"  {% endif %} required readonly>
                                    </div>
                                    <div class="col">
                                      <input type="text" name="last_name" class="form-control" placeholder="Last Name" {% if user.is_authenticated %} value="{{user.last_name}}"  {% endif %} required readonly>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="form-group">
                                  <input type="text" name="recipe_name" class="form-control" value="{{ single_recipe.name }}" readonly>
                                </div>
                                <hr>
                                <input type="submit" value="Confirmer" class="btn btn-block btn-danger">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Question start -->
                    <div class="widget question">
                        <h5 class="sidebar-title">Vous avez des questions ?</h5>
                        <ul class="contact-info">
                            <li>
                                <i class="flaticon-pin"></i>70 Avenue Roger Devoucoux, Toulon
                            </li>
                            <li>
                                <i class="flaticon-mail"></i><a href="{{ infos.email }}">{{ infos.email }}</a>
                            </li>
                            <li>
                                <i class="flaticon-phone"></i><a href="tel:{{ infos.numero }}">{{ infos.numero }}</a>
                            </li>
                        </ul>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Properties details page end -->

{% endblock %}